* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.responsive {
     column-count: 4;
    column-width: 120px;
    column-rule: dotted;
    column-rule-color: blue;
    column-rule-style: double;
}
p {
    background-color:lightblue;
    color: red;
    border: 2px solid black;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 1.5rem;
}

@media (max-width:760px) {
    .responsive {
        column-count: 2;
    }
}
@media (max-width:480px) {
    .responsive {
        column-count: 1;
    }
}